<table class="table table-striped bg-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Subtitulo</th>
      <th scope="col">Fecha</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let slide of slider; let i = index;">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ slide.title }}</td>
      <td>{{ slide.subtitle }}</td>
      <td>{{ !slide.date ? 'No tiene fecha' : slide.date }}</td>
      <td>{{ slide.image }}</td>
    </tr>
  </tbody>
</table>
