
<form novalidate [formGroup]="user" (ngSubmit)="saveData(user)">

  <div class="form-group">
    <label class="form-control-label">Nombre</label>
    <input  type="text" 
            name="name"
            formControlName="name" 
            class="form-control" 
            [ngClass]="{'is-invalid': formTools.mustShowErrors('name').required }" required/>
    <div *ngIf="formTools.mustShowErrors('name').required"
    class="invalid-feedback">Este campo es requerido.</div>
  </div>

  <div class="form-group">
    <label class="form-control-label">Apellidos:</label>
    <input  type="text" 
            name="surname"
            formControlName="surname" 
            class="form-control" 
            [ngClass]="{'is-invalid': formTools.mustShowErrors('surname').required }" required/>
    <div *ngIf="formTools.mustShowErrors('surname').required"
    class="invalid-feedback">Este campo es requerido.</div>
  </div>

  <div class="form-group">
    <label class="form-control-label">Email:</label>
    <input  type="text" 
            name="email"
            formControlName="email" 
            class="form-control" 
            [ngClass]="{'is-invalid': formTools.mustShowErrors('email').required || 
                                      formTools.mustShowErrors('email').pattern }" required/>
    <div *ngIf="formTools.mustShowErrors('email').required"
    class="invalid-feedback">Este campo es requerido.</div>
    <div *ngIf="formTools.mustShowErrors('email').pattern"
    class="invalid-feedback">El email no es valido.</div>
  </div>

  <div class="form-group">
    <label class="form-control-label">Password:</label>
    <input  type="password" 
            name="password"
            formControlName="password" 
            class="form-control" 
            [ngClass]="{'is-invalid': formTools.mustShowErrors('password').required || 
                                      formTools.mustShowErrors('password').minLength }" required/>
    <div *ngIf="formTools.mustShowErrors('password').required"
    class="invalid-feedback">Este campo es requerido.</div>
    <div *ngIf="formTools.mustShowErrors('password').minLength"
    class="invalid-feedback">Este campo tiene que tener 3 caracteres como minimo.</div>
  </div>

  <div class="form-group">
    <label class="form-control-label">Escribe de nuevo el password:</label>
    <input  type="password" 
            name="checkPassword"
            formControlName="checkPassword" 
            class="form-control" 
            [ngClass]="{'is-invalid':  formTools.mustShowErrors('checkPassword').required || 
                                       user.hasError('nomatch') }" required/>
    <div *ngIf="formTools.mustShowErrors('checkPassword').required"
    class="invalid-feedback">Este campo es requerido.</div>
    <div *ngIf="!formTools.mustShowErrors('checkPassword').required && user.hasError('nomatch')"
    class="invalid-feedback">Los passwords no coinciden.</div>
  </div>

  <div class="form-group row">
    <label class="col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button [disabled]="user.invalid" type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>